* {
  margin: 0px;
  padding: 0px;
}

.clearfix {
  clear: both;
  float: none;
}

header {
  width: 100%;
  display: flex;
  background-color: white;
}
header #logo {
  width: 25%;
}
header #logo img {
  width: 40%;
  background-color: white;
}
header #logo p {
  float: right;
  line-height: 89px;
  font-family: Verdana, Helvetica, Arial;
  text-transform: uppercase;
  padding-right: 1em;
  font-size: 1.3em;
  color: #0AC9C9;
}
header #menu {
  line-height: 93px;
  width: 60%;
  text-align: right;
}
header #menu ul li {
  display: inline-block;
}
header #menu ul li a {
  text-transform: uppercase;
  padding: 10px;
  text-decoration: none;
  font-size: 1.2em;
  color: #0AC9C9;
}

#portada img {
  width: 1349px;
}
#portada #info {
  position: absolute;
  top: 15em;
  margin-left: 1em;
}
#portada #info p {
  font-size: 1.1em;
  text-align: justify;
  margin-right: 47em;
}

#garantia h2 {
  border-bottom: 2px solid #ccc;
  margin-left: 5em;
  margin-right: 5em;
  padding-bottom: 1em;
  font-weight: bold;
}
#garantia p {
  margin-left: 10em;
  margin-right: 10em;
  margin-top: 1em;
}

.cubrirOno h3 {
  margin-left: 5em;
  margin-right: 5em;
  font-weight: bold;
}
.cubrirOno ul {
  margin-left: 10em;
  margin-right: 10em;
}

@media only screen and (max-width: 768px) {
  header {
    width: 100%;
    display: flex;
    background-color: white;
    margin-bottom: -8em;
  }
  header #logo {
    margin-top: 3em;
    width: 35%;
  }
  header #logo img {
    width: 35%;
    background-color: white;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
    bottom: 1.5em;
  }
  header #logo p {
    position: relative;
    left: 1.8em;
    bottom: 6.3em;
    font-family: Verdana, Helvetica, Arial;
    text-transform: uppercase;
    padding-right: 1em;
    font-size: 1.1em;
    color: #0AC9C9;
  }
  header #menu {
    line-height: 104px;
    width: 60%;
    text-align: right;
    position: relative;
    right: 0.2em;
  }
  header #menu ul {
    width: 111%;
  }
  header #menu ul li {
    display: inline-block;
  }
  header #menu ul li a {
    text-transform: uppercase;
    padding: 10px;
    text-decoration: none;
    font-size: 1.2em;
    color: #0AC9C9;
  }

  #portada img {
    height: 400px;
    width: 1046px;
  }
  #portada #info {
    position: absolute;
    top: 7em;
    left: 1em;
    margin-right: 6em;
  }
  #portada #info p {
    font-size: 1.1em;
    text-align: justify;
    margin-right: 4em;
  }
}
#pie .layout .mipie h2, #pie .layout .mipie #logito {
  text-transform: uppercase;
  color: white;
}

#pie {
  background-color: #61A60E;
  margin-top: 1.2em;
}
#pie .layout {
  display: flex;
}
#pie .layout .mipie {
  margin: 0 auto;
}
#pie .layout .mipie #logito {
  font-size: 2em;
  font-family: Verdana, Tahoma, sans-serif;
  text-shadow: 0px 0px 1px white;
  padding-top: 1em;
}
#pie .layout .mipie h2 {
  border-bottom: 0.1em solid white;
  margin-bottom: 1.1em;
  padding-top: 1em;
}
#pie .layout .mipie p {
  color: white;
  margin: 1em;
}
#pie .layout .mipie p span img {
  height: 1em;
  margin-right: 0.4em;
}
#pie .layout .mipie p a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 768px) {
  #pie {
    background-color: #61A60E;
    margin-top: 0.2em;
  }
  #pie .layout {
    display: flex;
  }
  #pie .layout .mipie {
    margin: 0 auto;
  }
  #pie .layout .mipie #logito {
    display: none !important;
    font-size: 1em;
    text-transform: uppercase;
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
    text-shadow: 0px 0px 1px white;
    padding-top: 1em;
  }
  #pie .layout .mipie h2 {
    text-transform: uppercase;
    color: white;
    margin-bottom: 1.1em;
    padding-top: 1em;
    font-size: 1.3em;
    margin-right: 3.1em;
  }
  #pie .layout .mipie p {
    color: white;
    margin: 1em;
  }
  #pie .layout .mipie p span img {
    height: 1em;
    margin-right: 0.4em;
  }
  #pie .layout .mipie p a {
    text-decoration: none;
    color: white;
  }
}

/*# sourceMappingURL=seguroGuarderia.css.map */
