#consultas {
    img {
        width: 100%;
        background-attachment: fixed;
        margin-bottom: 5em;
    }
    .card {
        margin: 0 auto;
        margin-top: 2em;
        border: 2px solid #ccc;
        position: absolute;
        top: 6em;
        left: 6em;
    }
}