//seguridad de la tienda

#cuerpo{
    width: 100%;
    
    #seguro{
        width: 85%;
        margin-top: 2.2em;
        margin-left: 11.5em;
        padding-left: 5em;
        background-color: #F6F6F7;
      ul{
          text-align: center;
          li{
              list-style: none;
              p{
                .color-span{
                    color:#CC51AC;
                }
              }
           
          }
      }  
      
    }
    h3{
        color:#CC51AC;
    }
}