@import 'variables';
//cabecera
@mixin textoLetra($color, $size-letra) {
    font-size: $size-letra;
    color: $color;
}

//estilos universales
* {
    margin: 0px;
    padding: 0px;
}

.clearfix {
    clear: both;
    float: none;
}

//cabecera
header {
    width: 100%;
    display: flex;
    background-color: $fondo;
    #logo {
        width: 25%;
        img {
            width: 40%;
            background-color: white;
        }
        p {
            float: right;
            line-height: 89px;
            font-family: $fuente-texto;
            text-transform: uppercase;
            padding-right: 1em;
            @include textoLetra($color-cabecera, 1.3em);
        }
    }
    //menu de la cabecera
    #menu {
        line-height: 93px;
        width: 60%;
        text-align: right;
        ul {
            li {
                display: inline-block;
                a {
                    text-transform: uppercase;
                    padding: 10px;
                    text-decoration: none;
                    @include textoLetra($color-cabecera, 1.2em);
                }
            }
        }
    }
}

//slider
#slider {
    .galeria {
        img {
            width: 100%;
        }
    }
}

//query tablet
@media only screen and(max-width:768px){

    header {
        width: 100%;
        display: flex;
        background-color: $fondo;
        margin-bottom: -8em;
       
        #logo {
            margin-top: 3em;
            width: 35%;
            img {
                width: 35%;
                background-color: white;
                text-align: center;
                margin-bottom: 1em;
                position:relative;
                bottom:1.5em;
            }
            p {
                position: relative;
                left: 1.8em;
                bottom:6.3em;
                font-family: $fuente-texto;
                text-transform: uppercase;
                padding-right: 1em;
                @include textoLetra($color-cabecera, 1.1em);
            }
        }
        //menu de la cabecera
        #menu {
            line-height: 104px;
            width: 60%;
            text-align: right;  
            position:relative;
            right: 0.2em;
            ul {
                width: 111%;
                li {
                    display: inline-block;
                    a {
                        text-transform: uppercase;
                        padding: 10px;
                        text-decoration: none;
                        @include textoLetra($color-cabecera, 1.2em);
                    }
                }
            }
        }
    }
}