#noticias {
    form {
        padding-left: 8em;
        padding-right: 48em;
    }
    span {
        font-weight: bold;
        color: black;
    }
    a {
        color: black;
        font-weight: bold;
    }
}